* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Neue', cursive;
    background-color: #fff0f5;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.ma-shan-zheng-regular {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  font-style: normal;
}

.long-cang-regular {
  font-family: "Long Cang", cursive;
  font-weight: 400;
  font-style: normal;
}

.lxgw-wenkai-tc-regular {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}

.login-container {
    background-color: #ffe4e1;
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #ff69b4;
    font-family: 'Comic Neue', cursive;
    margin-bottom: 0.8rem;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #a0522d;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-weight: bold;
    color: #d46a92;
    text-align: left;
}

input {
    padding: 0.6rem;
    border: 2px solid #ffb6c1;
    border-radius: 10px;
    background-color: #fffafa;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: #ff69b4;
}

.btn {
    padding: 0.8rem;
    background-color: #ffb6c1;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.btn:hover {
    background-color: #ff69b4;
}

.register-link {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.register-link a {
    color: #ff1493;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
