<!DOCTYPE html>
<html lang="it">

<!-- Head fragment -->

<head th:replace="fragments/head :: common-head('中文角')"></head>

<body>
	<!-- Navbar -->
	<header th:replace="fragments/navbar :: navbar"></header>

	<section class="hero">
		<section class="hero-width">
			<div th:if="${lingua}">
				<h1><span th:text="${lingua.nome}">Lingua cinese</span></h1>
				<p>
				<div th:utext="${lingua.descrizione}"></div>
				</p>
				<a href="#" class="btn-primary">Scopri la prima regola 💖</a>
				<a href="/register" class="btn-secondary">Crea il tuo profilo 💞</a>
			</div>
			<div th:unless="${lingua}">Non esiste supporto per questa lingua</div>
		</section>
	</section>

	<section class="content">
		<h2>✨ Cosa troverai nel sito ✨</h2>
		<ul class="features">
			<li>💗 Regole grammaticali di cinese per principianti</li>
			<li>🎀 Testi di livello base in cinese</li>
			<li>🍓 Glossario per tutte le parole cinesi utilizzate nel sito</li>
		</ul>
	</section>

	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>