.register-link,
.home-link {
	margin-top: 1rem;
	font-size: 0.9rem;

	a {
		color: $color-dark-pink;
		text-decoration: none;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}
	}
}

.home-link {
	margin-top: -0.8rem;
}

body.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	//height: 100vh;
	//height: 1rem;
	background-color: $color-light-bg;
	//margin: clamp(2rem, 3vw, 3rem) clamp(0.3rem, 1vw, 1rem);
	margin: 3rem 1rem;

	.login-container {
		background-color: $color-table-border;
		padding: clamp(1rem, 2.5vw, 2.5rem);
		border-radius: 20px;
		box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
		width: 90%;
		max-width: 400px;
		text-align: center;

		h1 {
			font-size: 2.5rem;
			color: $color-dark-pink;
		}

		p {
			font-size: 1rem;
			color: $color-footer-text;
			margin-bottom: 1.5rem;
		}
	}
}
