// Colori
$color-primary: #ff69b4;
$color-secondary: #ffb6c1;
$color-dark-pink: #ff1493;
$color-light-bg: #fff0f5;
$color-lightest-bg: #fffafc;
$color-hover-bg: #ffe4f0;
$color-table-border: #ffe4e1;
$color-shadow: rgba(255, 182, 193, 0.3);
$color-shadow-input: rgba(255, 182, 193, 0.2);
$color-footer-text: #a0522d;
$color-text: #555;
$color-gradient: #ffd1dc;
$color-label: #d46a92;
$color-violet: #ba55d3;
$color-light-violet: #dda0dd;

$color-semi-white: #fff;
$color-white: white;
$color-black: black;
$color-gray: rgb(201, 203, 203);;


// Font
$font-main: 'Comic Neue', cursive;
$font-chinese: 'LXGW WenKai TC', cursive;

// Spaziature comuni
$spacing-section: 2rem;
$spacing-large: 4rem;